<!DOCTYPE html>
<html>
<head>
  <title>Project Speak Easy - <%= yield(:title) || "Home" %></title> 
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular"
  rel="stylesheet" type="text/css" >
  <style>
    div#name{
      font-family: 'Reenie Beanie', serif;
      font-size: 62px;
      font-style: normal;
      font-weight: 700;
      text-shadow: none;
      text-decoration: none;
      text-transform: none;
      letter-spacing: -0.05em;
      word-spacing: -0.099em;
      line-height: 1.2;
    }
  </style>
</head>
<body>
  <div id="site">
    <div id="header">
      <div id="logobox">
        <div id="logo">
          <%= link_to "Project Speak Easy", "" %>
        </div> <!-- logo -->
      </div> <!-- logobox -->
      <div id="name">
        <%= link_to "PSE", root_path %>
      </div> <!-- name -->
      <div id="slogan">
        <%= link_to "Project Speak Easy", root_path %>
      </div> <!-- name -->
      <div id="topnav">
        <ul>
          <li><%= link_to "Home", '/' %></li>
          <li><%= link_to "About", '/about' %></li>
          <li><%= link_to "Contact", '/contact' %></li>
        </ul>
      </div> <!-- links -->
    </div> <!-- header -->
    <div style="clear:both"></div>

    <div id="main">
      <div id="sidebar">
        <ul>
          <li><%= link_to "The Problem", '/problem' %></li>
          <li><%= link_to "Our Approach", '/technology' %></li>
          <li><%= link_to "How it Works", '/module' %></li>
        </ul>
      </div> <!-- sidebar -->

      <div id="yield">
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>

        <%= yield %>
      </div>
    </div> <!-- main -->
    <div style="clear:both"></div>

  </div> <!-- site -->

  <div id="footer">
   &copy; Project Speak Easy
  </div> <!-- footer -->
</body>
</html>
